* {
    font-family: Arial serif;
    font-size: 12pt;
    color: lightgray;
    background-color: black;
}

body {
    width: 1080pt;
    margin: 10pt auto;
}

nav {
    margin: 10pt auto;
    display: flex;
}

main {

}

input {
    display: inline-block;
    float: right;
    color: lightgray;
    background-color: #333333;
    height: 20pt;
    width: 20%;
}

img {
    height: 100%;
}

.searchbar {
    width: 80%;
    float: left;
}

.search-img {
    background-color: red;
    margin-top: 5pt;
    width: 16pt;
    height: 16pt;
    float: left;
}

.search-and-icons {
    margin-bottom: 6pt;
    display: inline-block;
}

.logo {
    width: 100pt;
    height: 100pt;
    border-radius: 50%;
    display: grid;
}

.logo-container {
    padding-right: 50pt;
}

.nav-container {

}

.top-nav-container {
    text-align: right;
    padding-left: 20pt;
}

.navigation-top {
    list-style-type: none;
    width: 70%;
    overflow: hidden;
    display: inline-block;
}

.navigation-top a {
    float: left;
    display: inline-block;
    color: lightgray;
    text-decoration: none;
    white-space: nowrap;
    width: fit-content;
}

.navigation-top a:after {
    padding-left: 10pt;
    padding-right: 10pt;
    content: '|';
}

.navigation-top li:last-child a:after {
    content: '';
}

.bot-nav-container {
    display: inline-block;
    text-align: center;
}

.navigation-bottom {
    list-style-type: none;
    width: 760pt;
    padding-left: 30pt;
    overflow: hidden;
    font-size: 12pt;
    background-color: #333;
}

.navigation-bottom a {
    float: left;
    display: block;
    color: lightgray;
    margin: 10pt 5pt;
    text-decoration: none;
    background-color: #333;
}

.navigation-bottom a:after {
    padding-left: 10pt;
    padding-right: 10pt;
    content: '|';
}

.navigation-bottom li:last-child a:after {
    content: '';
}

.img-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    overflow: hidden;
    gap: 10pt;
    grid-template-areas:
    "image1 image1 image1 image1"
    "image2 image3 image4 image4"
    "image5 image6 image6 image7";
}

.image1 {
    grid-area: image1;
    grid-row-end: 1;
    background-color: red;
    position: relative;
}

.image1-text {
    position: absolute;
    top: 50%;
    left: 20%;
    background-color: transparent;
    transform: translate(-50%, -50%);
}

.image2 {
    grid-area: image2;
    background-color: orange;
}

.image3 {
    grid-area: image3;
    background-color: aqua;
    position: relative;
}

.image3-text {
    position: absolute;
    top: 92%;
    left: 26%;
    background-color: transparent;
    transform: translate(-50%, -50%);
}

.image4 {
    grid-area: image4;
    background-color: blueviolet;
    position: relative;
}

.image4-text {
    position: absolute;
    top: 50%;
    left: 80%;
    background-color: transparent;
    transform: translate(-50%, -50%);
}

.image5 {
    grid-area: image5;
    background-color: burlywood;
    position: relative;
}

.image6 {
    grid-area: image6;
    background-color: darkolivegreen;
}

.image7 {
    grid-area: image7;
    background-color: deeppink;
}
